body {
  font-size: 15px;
}

h3 {
  font-size: 20px;
}

.form-container {
  background: #deceb6;
  height: 100%;
  width: 400px;
}

.form-container .investment-details,
.form-content {
  padding: 15px;
  margin: 10px;
}

.form-content {

  .form-group {
    margin-bottom: 25px;
    width: 100%;

    input {
      min-height: 44px;
      width: 100%;
      border: 1px solid #000000;
      border-radius: 5px;
      font-size: 18px;
      text-indent: 10px;
      text-size-adjust: inherit;
      margin-bottom: 4px;
    }

    .align-right {
      text-align: right;
    }
  }

  button {
    color: white;
    background-color: #008254;
    width: 100%;
    min-height: 44px;
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
    cursor: pointer;

    &:disabled {
      opacity: 0.8;
    }
  }

  .validation-error {
    color: #dc3545;
    margin-top: -12px;
    margin-bottom: 4px;
    padding-left: 0.2em;
    font-size: 12px;
  }
}

input, label {
  display: block;
  margin-bottom: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
